.jumbotron {
  background: #0066A1;
  color: white;
  padding-bottom: 80px; 
}

.jumbotron .btn-primary {
  background: #0066A1;
  border-color: #0066A1;
}

.jumbotron .btn-primary:hover {
  background: #0066A1; 
}

.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em; 
}

.navbar + .jumbotron {
  margin-top: -20px;
  }

.jumbotron .ulpgc-logo{
  display: block;
  background: #f7f7f7;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid #FFA100; 
}

.jumbotron .ulpgc-logo img {
  max-width: 100%; 
}

.eite-logo{
  display: block;
  width: 40%;
  height: 40%;
}

.eite-logo img {
  max-width: 100%; 
}

.button1 {
  background-color: #FFA100;
  color: #f7f7f7;
}

