<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="https://www.ulpgc.es/" class="ulpgc-logo">
      <img src="/logo_ulpgc.png" alt="Logo de la ULPGC">
    </a>
    <h1>Laboratorio 1 Parte 2</h1>
    <p>Asignatura Tecnologías de Internet de Nueva Generación</p>
    <a type="button" class="btn btn-lg btn-default button1" href="https://www2.ulpgc.es/index.php?pagina=plan_estudio&ver=pantalla&numPantalla=99&nCodAsignatura=50633&codTitulacion=5023&codPlan=50&tipotitulacion=M&codEspecialidad=">
      <span class="glyphicon glyphicon-list-alt"></span> Proyecto docente de la asignatura
    </a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/Yguanira/TING_Lab1_heroku">
      <span class="glyphicon glyphicon-download"></span> Código en GitHub
    </a>
  </div>


  
</div>

<div class="container">
  <a href="https://eite.ulpgc.es/index.php/es/" class="eite-logo">
    <img src="/logo_eite.png" alt="Logo de la EITE">
  </a>
</div>

</body>
</html>
